---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta id="viewport" name="viewport">
    <script>
        (function(doc) {
            if (window.matchMedia) {
                var viewport = document.getElementById('viewport');
                if(window.matchMedia('(max-device-width: 736px)').matches) {
                    viewport.setAttribute('content', 'width=736');
                } else {
                    viewport.setAttribute('content', 'width=device-width, initial-scale=1');
                }
            }
        }(document));
    </script>

    <style type="text/css">
{% capture reset_css %}{% include css/reset.scss %}{% endcapture %}
{{ reset_css | scssify }}
    </style>
    <style type="text/css">
{% include css/bootstrap.min.css %}
    </style>
    <style type="text/css">
{% capture style_css %}{% include css/style.scss %}{% endcapture %}
{{ style_css | scssify }}
    </style>
    <style type="text/css">
{% capture discordian_css %}{% include css/discordian.scss %}{% endcapture %}
{{ discordian_css | scssify }}
    </style>
    <style>
{% capture standalone_css %}{% include css/standalone.scss %}{% endcapture %}
{{ standalone_css | scssify }}
    </style>

</head>
<body>

{% include discordian_calendar.html %}

<script type="text/javascript">
{% include js/iosfix.js %}
</script>
<script type="text/javascript">
{% include js/jquery.min.js %}
</script>
<script type="text/javascript">
{% include js/bootstrap.min.js %}
</script>
<script type="text/javascript">
jQuery(document).ready(function($) {
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({
            container : 'body'
        })
    })

    $('td.day').hover(function(event) {
        try {
            var dayNumber = $(this).data("day");
            $("td.day-" + dayNumber).addClass("active").tooltip("show");
        } catch(ex) {}
    },
    function(event) {
        try {
            var dayNumber = $(this).data("day");
            $("td.day.active").removeClass("active").tooltip("hide");
        } catch(ex) {}
    });
});
</script>

</body>
</html>
