---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="description" content="Jurbly iOS Game">
    <meta name="keywords" content="iOS,iPhone,iPad,App,Apps,Jurbly,Chaos Clock,Parsnip">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bracing Effect</title>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="images/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="images/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="images/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="images/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="images/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="images/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="images/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="Bracing Effect"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="images\mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="images\mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="images\mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="images\mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="images\mstile-310x310.png" />

    <style type="text/css">
{% capture reset_css %}{% include css/reset.scss %}{% endcapture %}
{{ reset_css | scssify }}
    </style>
    <style type="text/css">
{% capture style_css %}{% include css/style.scss %}{% endcapture %}
{{ style_css | scssify }}
    </style>

</head>
<body>

<div class="hero-image section-image"></div>

<div class="hero">
    <a href="mailto:support@bracingeffect.com" class="email">
        Contact <div class="envelope background-image"></div>
    </a>
    <div class="container">
        <a href="http://bracingeffect.com">
            <h1>
                <span class="accessibility-text">Bracing Effect</span>
                <div class="bracingeffect-title background-image"></div>
            </h1>
        </a>
        <div class="description">Apps & games for iOS</div>
    </div>
</div>


<div class="jurbly section">

    <div class="clouds">
        {% for i in (1..10) %}
            <div class="cloud cloud-{{ i }}"><span class="spacer"></span></div>
        {% endfor %}
    </div>

    <div class="content-left">
        <h1><a href="/Jurbly/">Jurbly</a></h1>
        <div class="description">
            Color matching game of skill<br>
            <br>
            With music by <a href="https://soundcloud.com/megaenx">MegaEnx</a>
        </div>
    </div>

    <div class="content-right">
        <div class="iphone background-image">
            <span class="spacer"></span>
            <div class="iphone-screen background-image">
                <video controls loop
                    class="demovideo"
                    onclick="if(typeof InstallTrigger == 'undefined') { (this.paused ? this.play() : this.pause()); }">
                    <source src="images/jurbly-demo01.webm" type="video/webm"></source>
                    <source src="images/jurbly-demo01.mp4" type="video/mp4"></source>
                </video>
            </div>
        </div>
    </div>
    <div class="clear"></div>

    <div class="badge-container">
        <a
            class="itunes-link"
            href="https://itunes.apple.com/us/app/jurbly/id991684088?mt=8"
            aria-label="Download Jurbly on the App Store">
            <div class="appstore-badge background-image"></div>
        </a>
    </div>
    <div class="clear"></div>

</div>


<div class="icon-row">
    <div class="logo chaosclock-logo background-image"></div>
</div>


<div class="chaosclock section">

    <div class="content-right">
        <h1><a href="/ChaosClock/">Chaos Clock</a></h1>
        <div class="description">
            Date & time measurement for <a href="http://en.wikipedia.org/wiki/Discordianism">Discordians</a>
        </div>
    </div>

    <div class="content-left">
        <div class="iphone background-image">
            <span class="spacer"></span>
            <a href="/ChaosClock/" aria-label="Chaos Clock website">
                <div class="iphone-screen background-image"></div>
            </a>
        </div>
    </div>
    <div class="clear"></div>

    <div class="badge-container">
        <a
            class="itunes-link"
            href="https://itunes.apple.com/us/app/chaos-clock/id977164677?ls=1&mt=8"
            aria-label="Download Chaos Clock on the App Store">
            <div class="appstore-badge background-image"></div>
        </a>
    </div>
    <div class="clear"></div>

</div>


<div class="icon-row">
    <div class="logo parsnip-logo background-image"></div>
</div>


<div class="parsnip section section-image">

    <div class="content-left">
        <h1><a href="/Parsnip/">PARSNIP</a></h1>
        <div class="description">
            Open source OCR for iOS<br>
            <br>
            Scan printed text for:<br>
            <ul>
                <li>phone numbers</li>
                <li>addresses</li>
                <li>web sites</li>
                <li>contacts</li>
                <li>and more...</li>
            </ul>
        </div>
    </div>

    <div class="content-right">
        <div class="iphone background-image">
            <span class="spacer"></span>
            <a href="/Parsnip/" aria-label="Parsnip website">
                <div class="iphone-screen background-image"></div>
            </a>
        </div>
    </div>
    <div class="clear"></div>

    <div class="badge-container">
        <a
            class="github-link"
            href="https://github.com/BracingEffect/Parsnip"
            aria-label="Parsnip source code on GitHub">
            <div class="appstore-badge background-image"></div>
        </a>
        <a
            class="itunes-link"
            href="https://itunes.apple.com/us/app/parsnip/id752725886?mt=8"
            aria-label="Download Parsnip on the App Store">
            <div class="appstore-badge background-image"></div>
        </a>
    </div>
    <div class="clear"></div>

    <div class="footer">
        <div class="website-copyright">© 2016 Bracing Effect, LLC</div>
    </div>

    <a class="background-copyright" href="http://www.flickr.com/photos/wwarby/">Photo © 2014 William Warby</a>
</div>


{% include google_analytics.html %}

</body>
</html>
