<div class="discordian-clock">

<h1 class="title">Discordian Clock</h1>

<h2 class="discordian-day-title">Discordian Day</h2>
<div class="thud-time">
    <h3>Hour of THUD</h3>
    <p class="subtle">The first and longest hour of the day is called the Hour of THUD (THUD-hour)</p>
    <ul>
        <li>The THUD-hour is divided into 5 THUD-minutes</li>
        <li>Each THUD-minute is divided into 23 THUD-seconds</li>
    </ul>
</div>
<div class="non-thud-time">
    <h3>Non-THUD Time</h3>
    <p class="subtle">The remaining portion of the day is divided equally into 265 Discordian hours (D-hours)</p>
    <ul>
        <li>Each D-hour is divided into 5 Discordian minutes (D-minutes)</li>
        <li>Each D-minute is divided into 5 Discordian seconds (D-seconds)</li>
    </ul>
</div>
<div class="universal-vs-local">
    <h3>Universal vs Local</h3>
    <p>The first flavor of Discordian time (universal) specifies that each day
     begins at 5:23 AM Greenwich Mean Time, regardless of the local time zone.</p>
    <p>The second flavor of Discordian time (local) specifies that each day
     begins at 12:00 AM according to the local time zone.</p>
 </div>

<h2>Discordian to Standard Time</h2>
<table class="discordian-to-standard-table">
<thead>
    <tr><th><h2>Discordian</h2></th><th class="standard-discordian-divider"></th><th><h2>Standard</h2></th></tr>
</thead>
<tbody>
    <tr><td>THUD-hour</td><td class="standard-discordian-divider"> = </td><td>115 standard minutes</td></tr>
    <tr><td>THUD-minute</td><td class="standard-discordian-divider"> = </td><td>23 standard minutes</td></tr>
    <tr><td>THUD-second</td><td class="standard-discordian-divider"> = </td><td>60 standard seconds, or 1 standard minute</td></tr>
    <tr><td>D-hour</td><td class="standard-discordian-divider"> = </td><td>5 standard minutes</td></tr>
    <tr><td>D-minute</td><td class="standard-discordian-divider"> = </td><td>1 standard minute</td></tr>
    <tr><td>D-second</td><td class="standard-discordian-divider"> = </td><td>12 standard seconds</td></tr>
</tbody>
</table>

<h2><span class="mw-headline">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
    <li>
        The original Discordian time specification can be found at
        <a href="http://www.tranglos.com/fnord/klock.html">Tranglos</a>
    </li>
</ol>
</div>

</div>
