
$background_color: #000;

$normal_text: #f0f0f0;
$subtle_text: #a0a0a0;
$link_text: #c0c0c0;

.discordian-calendar,
.discordian-clock {
    padding: 1em 1em 5em 1em;

    font-size: 1.15em;

    h1 {
        text-align: center;
        font-size: 3em;
    }

    h1.title {
        padding-bottom: 0.5em;
    }

    h2 {
        font-size: 2.25em;
    }

    h3 {
        font-size: 1.5em;
    }

    > h2 {
        padding: 1em 0 0.05em 0;
    }

    p {
        padding: 0.1em 0 0.1em 0;
    }

    .subtle {
        color: $subtle_text;
    }

    ul,
    ol.references {
        list-style: disc;
        padding-left: 1.5em;
    }

    .thud-time-list,
    .non-thud-time-list,
    .season-list,
    .day-of-week-list,
    .holyday-list {
        padding: 0.5em 0 0 2em;

        li {
            padding: 0 0 0.5em 0;
        }
    }

    .holydays-apostle,
    .holydays-season {
        width: 49%;
        display: inline-block;
    }

    .thud-time,
    .non-thud-time,
    .universal-vs-local,
    .discordian-to-std,
    .holydays-apostle,
    .holydays-season,
    .holydays-sttibsday {
        h3 {
            padding: 0 0 0.1em 0;
        }
    }

    .thud-time,
    .non-thud-time,
    .universal-vs-local,
    .discordian-to-std,
    .holydays-sttibsday {
        padding: 1em 0 0 0;
    }
}

.discordian-clock {
    table {
        padding: 0.1em 0 0.1em 0;
    }

    .discordian-to-std-scale,
    .discordian-to-std-units {

        th h2 {
            font-size: 1.5em;
            margin-bottom: 0.5em;
        }
    }

    .discordian-to-std-units {
        margin: 0.5em 0 0 0;

        .discordian-std-divider {
            width: 2em;
            text-align: center;
        }

        td {
            padding: 0 0 0.5em 0;
        }
    }

    .discordian-to-std-scale {
        margin: 3em auto 0 auto;

        .discordian-std-divider {
            width: 5em;
        }

        .discordian-time-title,
        .std-time-title {
            display: inline-block;
        }

        .std-time-title {
            text-align: left;
        }

        .discordian-time-title {
            text-align: right;
            float: right;
        }

        .discordian-time {
            text-align: right;
            padding: 0 0.5em 0 1em;
        }

        .std-time {
            text-align: left;
            padding: 0 1em 0 0.5em;
        }

        tr.thud-minute td.discordian-std-divider,
        tr.minute td.discordian-std-divider {
            height: 0.1875em;
        }

        td {
            background-color: #606060;
            vertical-align: top;
        }

        tr.thud-minute td {
            background-color: #686868;
        }

        tr.thud-minute td,
        tr.minute-on-the-hour td,
        tr.minute td.discordian-std-divider {
            border-top: 1px solid #484848;
        }

        tr.minute-final td.discordian-std-divider {
            background-color: transparent;
        }
    }
}

.discordian-calendar {

    .season-list,
    .day-of-week-list,
    .holyday-list {
        list-style: lower-roman;

        li {
            color: $subtle_text;
            span {
                color: $normal_text;
            }
        }
    }

    .gregorian-to-discordian-calendar {
        margin: 4em auto 0 auto;

        th {
            text-align: center;
        }

        th h2 {
            font-size: 2em;
            margin-bottom: 0.5em;
        }

        th h3 {
            font-size: 1.15em;
            margin-bottom: 0.25em;
        }

        td.month-title {
            text-align: right;
            padding-right: 0.85em;
        }
        td.season-title {
            text-align: left;
            padding-left: 0.85em;
        }

        td.month-title h3,
        td.season-title h3 {
            font-size: 1.35em;
        }

        tr.week {
        }

        td.month-even.day-even,
        td.season-even.day-even {
            background-color: #636363;
            border-bottom: 1px solid #484848;
        }

        td.month-even.day-odd,
        td.season-even.day-odd {
            background-color: #606060;
            border-bottom: 1px solid #484848;
        }

        td.month-odd.day-even,
        td.season-odd.day-even {
            background-color: #2b2b2b;
            border-bottom: 1px solid #000;
        }

        td.month-odd.day-odd,
        td.season-odd.day-odd {
            background-color: #282828;
            border-bottom: 1px solid #000;
        }

        td.day,
        .month-season-divider {
            vertical-align: top;
            height: 2.25em;
            width: 2.25em;

            .day-number {
                font-size: 0.75em;
                padding-left: 4px;
            }
        }

        td.day:hover, td.day.active {
            background-color: #fff;

            .day-number {
                color: #000;
            }
        }
    }
}

