
@import "variables";
@import "bootstrap";
@import "mixins";


//-------------------------------------------------------------
// Global styles
//-------------------------------------------------------------

html,
body {
    color: $text-color;

    font-family: $font-family-sans-serif;
    font-size: 18px;
    font-weight: 300;

    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;
}

body {
    background-color: $body-bg;
    position: relative;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

em {
    font-style: italic;
}

a {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

.accessibility-text {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    top: -10px;
}

.clear {
    clear: both;
}


//-------------------------------------------------------------
// Background images
//-------------------------------------------------------------

.background-image {
    background-color: transparent;
    background-position: 50% 50%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: transparent;
    display: inline-block;
    line-height: 1em;
    vertical-align: middle;
}

.section-image {
    background-position: 50% 50%;
    background-size: 100% auto;
    @include background-size(cover);
    background-repeat: no-repeat;
    vertical-align: middle;
}

.spacer {
    display: block;
    height: 0;
}

@each $w, $h, $padding in (1, 1, 100%),
                          (1, 2, 200%),
                          (2, 1, 50%),
                          (3, 4, 133%),
                          (4, 1, 25%),
                          (4, 3, 75%),
                          (5, 6, 120%),
                          (6, 7, 116.67%) {
    .ratio-#{$w}x#{$h} .spacer, .ratio-#{$w}x#{$h} > .spacer {
        padding-top: #{$padding};
    }
}


//-------------------------------------------------------------
// Sections
//-------------------------------------------------------------

.section {
    padding: 60px 0;

    h2 {
        margin: 0 0 25px;
    }

    hr {
        display: block;
        height: 1px;
        margin: 50px 0;
        padding: 0;
        background-color: #aaa;
        width: 50%;
        left: 25%;
        position: relative;
        border: none;
    }

    p {
        margin: 0 0 25px;
    }
}

.section-odd {
    background-color: #fff;

    hr {
        @include gradient-horizontal-three-colors(#fff, #aaa, 50%, #fff);
    }
}

.section-even {
    background-color: #f5f5f5;

    hr {
        @include gradient-horizontal-three-colors(#f5f5f5, #a0a0a0, 50%, #f5f5f5);
    }
}


//-------------------------------------------------------------
// Navbar
//-------------------------------------------------------------

$be-logo-height: 32px;
$be-logo-width: 32px;

.navbar-default {

    .navbar-toggle:hover, .navbar-toggle:focus {

        .icon-bar {
            background-color: $navbar-default-toggle-icon-bar-hover-bg;
        }
    }

    .navbar-brand {
        font-weight: 400;

        position: relative;
        padding: (($navbar-height - $be-logo-height) / 2) 15px;

        #be-logo {
            width: $be-logo-width;
            height: $be-logo-height;
        }

        span {
            margin-left: 0.5em;
        }
    }

    .navbar-nav {
        > .active > a {
            &, &:hover, &:focus {
                @include transition(all 0.2s ease 0s);
            }
        }
    }
}


//-------------------------------------------------------------
// Home
//-------------------------------------------------------------

#home {
    padding: 120px 0 60px;

    .container {

        a {
            display: inline-block;
            margin-bottom: 25px;

            max-width: 96%;

            h1 {
                width: 100%;

                #be-title {
                    max-width: 100%;
                    height: 114px;
                    width: 600px;

                    display: inline-block;

                    background-position: 50% 75%;
                }
            }
        }
    }
}


//-------------------------------------------------------------
// About
//-------------------------------------------------------------

#about {

    .logo {
        height: 100px;
        width: 100px;
        margin: 0 0 25px;
    }
}


//-------------------------------------------------------------
// Showcase
//-------------------------------------------------------------

#showcase {

    .logo {
        height: 80px;
        width: 80px;
        margin: 0 0 25px;
    }
}


//-------------------------------------------------------------
// Contact
//-------------------------------------------------------------

#contact {

    .logo {
        height: 40px;
        width: 40px;
        margin: 0 0 10px;
    }
}


//-------------------------------------------------------------
// Footer
//-------------------------------------------------------------

#footer {
    background-color: #303030;
    color: #909090;

    padding: 20px 0;
}


//-------------------------------------------------------------
// Responsive breakpoints
//-------------------------------------------------------------

#be-title{background-image:url(#{$images_path}bracingeffect-title.png)}
#be-logo{background-image:url(#{$images_path}bracingeffect-logo.png)}
#jurbly-logo{background-image:url(#{$images_path}jurbly-logo.png)}
#chaosclock-logo{background-image:url(#{$images_path}chaosclock-logo.png)}
#parsnip-logo{background-image:url(#{$images_path}parsnip-logo.png)}
#freelance-logo{background-image:url(#{$images_path}freelance-logo.png)}
#handcrafted-logo{background-image:url(#{$images_path}handcrafted-logo.png)}
#email-logo{background-image:url(#{$images_path}email-logo.png)}
#github-logo{background-image:url(#{$images_path}github-logo.png)}
#twitter-logo{background-image:url(#{$images_path}twitter-logo.png)}

@media
only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-moz-min-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
    #be-title{background-image:url(#{$images_path}bracingeffect-title_2x.png)}
    #be-logo{background-image:url(#{$images_path}bracingeffect-logo_2x.png)}
    #jurbly-logo{background-image:url(#{$images_path}jurbly-logo_2x.png)}
    #chaosclock-logo{background-image:url(#{$images_path}chaosclock-logo_2x.png)}
    #parsnip-logo{background-image:url(#{$images_path}parsnip-logo_2x.png)}
    #freelance-logo{background-image:url(#{$images_path}freelance-logo_2x.png)}
    #handcrafted-logo{background-image:url(#{$images_path}handcrafted-logo_2x.png)}
    #email-logo{background-image:url(#{$images_path}email-logo_2x.png)}
    #github-logo{background-image:url(#{$images_path}github-logo_2x.png)}
    #twitter-logo{background-image:url(#{$images_path}twitter-logo_2x.png)}
}
