
@import "mixins";

$images_path: "images/";
$fonts_path: "fonts/";

$badge_height: 40;
$badge_width: 135;
$badge_margin: 20;

$iphone_height: 754;
$iphone_width: 368;
$iphone_bezel_height: 92;
$iphone_bezel_width: 24;

$bracing_blue: #0080ff; // rgb(0,128,255)
$dark_bracing_blue: #0066cc; // rgb(0,102,204)
$jurbly_pink: #FC69B4; // rgb(252,105,180)
$parsnip_green: #40C000; // rgb(64,192,0)
$dark_parsnip_green: #309000; // rgb(48,144,0)
$chaos_violet: #a00aa0; // rgb(160,10,160)
$github_purple: #400440; // rgb(64,4,64)

$background_color: #000;
$normal_text: #fff;

$font_family:
    system, -apple-system, BlinkMacSystemFont, "San Francisco",
    "Helvetica Neue", Helvetica, Arial, sans-serif !default;


/****************************************
 * Web Fonts
 ****************************************/

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(#{$fonts_path}Lato-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 400;
  src: local('Luckiest Guy'), local('LuckiestGuy'), url(#{$fonts_path}LuckiestGuy.ttf) format('truetype');
}


/****************************************
 * Global styles
 ****************************************/

html,
body {
    color: $normal_text;

    font-family: $font_family;
    font-size: 10px;
    font-weight: 300;

    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;
}

body {
    background-color: $background_color;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

em {
    font-style: italic;
}

a {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
    opacity: 0.7;
}

h1 {
    white-space: nowrap;
}

.accessibility-text {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    top: -10px;
}

.nowrap {
    white-space: nowrap
}

.clear {
    clear: both;
}


/****************************************
 * Defaults
 ****************************************/

 $content_padding: 4em;

.container {
    margin: 0 auto;

    position: relative;

    max-width: 100%;
    width: 768px;

    h1 {
        max-width: 96%;

        .background-image {
            max-width: 100%;
        }
    }
}

.description {
    font-size: 2.2em;
    line-height: 1.25em;
    padding-top: 1em;
}

.section {
    position: relative;

    width: 100%;

    @include box-shadow(0 0 3em rgba(0, 0, 0, 0.5));

    h1 {
        margin-top: #{$iphone_bezel_height}px;

        a, a:hover, a:focus {
            text-decoration: none;
        }
    }

    .badge-container {
        position: relative;

        height: #{$badge_height}px;
        width: 50%;

        $badge_offset: $iphone_bezel_height + $badge_height;
        margin: -#{$badge_offset}px 0 #{$iphone_bezel_height}px 0;

        padding-right: $content_padding;

        .itunes-link, .github-link {
            display: inline-block;
            float: right;
            height: #{$badge_height}px;

            .appstore-badge {
                width: #{$badge_width}px;
                height: #{$badge_height}px;
            }
        }
    }
}

.icon-row {
    position: relative;

    height: 0;
    width: 100%;
}

.content-left {
    width: 50%;
    float: left;
    text-align: right;
}

.content-right {
    width: 50%;
    float: right;
    text-align: left;
}


/****************************************
 * iPhone
 ****************************************/

.iphone {
    position: relative;
    display: block;
    z-index: 100;

    height: #{$iphone_height}px;
    width: #{$iphone_width}px;

    > .spacer {
        padding-top: 204.8913%;
    }

    .iphone-screen {
        position: absolute;
        overflow: hidden;
        z-index: 101;

        width: 320px;
        height: 568px;

        top: #{$iphone_bezel_height}px;
        left: #{$iphone_bezel_width}px;

        cursor: pointer;

        .demovideo {
            width: 320px;
            height: 568px;
        }
    }
}


/****************************************
 * Hero
 ****************************************/

.hero {
    background-color: #2a308d;

    .container {
        padding: 200px 0;

        position: relative;

        text-align: center;

        h1 {
            @include animation(0.625s ease-out 0.25s hero-fade-in both);

            font-size: 3em;

            display: inline-block;
            margin: 0 auto 30px auto;

            .bracingeffect-title {
                height: 114px;
                width: 600px;

                display: inline-block;

                background-position: 50% 75%;
            }
        }

        .description {
            @include animation(0.625s ease-out 0.5s hero-fade-in both);

            font-size: 3em;

            margin: 0 auto;
            padding-top: 0;
        }
    }

    .email {
        position: absolute;

        top: 1em;
        right: 1em;

        color: #fff;

        display: inline-block;
        font-size: 2em;
        text-decoration: none;

        .envelope {
            height: 1em;
            width: 1.5em;

            margin-left: 0.25em;

            vertical-align: text-bottom;
        }
    }
}

.hero, .section {
    color: #fff;
    @include text-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

@-webkit-keyframes hero-fade-in {
    from { opacity: 0; @include transform(translateY(0.667em)); }
}
@-moz-keyframes hero-fade-in {
    from { opacity: 0; @include transform(translateY(0.667em)); }
}
@-o-keyframes hero-fade-in {
    from { opacity: 0; @include transform(translateY(0.667em)); }
}
@keyframes hero-fade-in {
    from { opacity: 0; @include transform(translateY(0.667em)); }
}


/****************************************
 * Sections
 ****************************************/

.chaosclock-logo, .parsnip-logo {
    height: 15em;
    width: 15em;

    position: absolute;
    top: -7.5em;
    left: 50%;

    margin-left: -7.5em;

    z-index: 1000;
}


/****************************************
 * Jurbly
 ****************************************/

.jurbly {
    $jurbly_color: #fff;
    color: $jurbly_color;

    padding: 100px 0 200px 0;

    .content-left {
        padding-right: $content_padding;
    }

    h1 {
        a {
            color: $jurbly_color;
        }

        font-family: 'Luckiest Guy', $font_family;
        font-size: 14.4em;
        font-variant: small-caps;
        @include text-shadow(0.05em 0.05em 0 rgba(0, 0, 0, 0.3));
    }

    .description {
        padding-top: 0;
    }

    .iphone {
        .iphone-screen {
            background-color: #FC69B4;
        }
    }
}


/****************************************
 * Clouds
 ****************************************/

.clouds {
    $jurbly_background_color: #51aae8;
    $jurbly_background_color_end: #7ec0ee;
    background-color: $jurbly_background_color;
    @include gradient-vertical($start-color: $jurbly_background_color, $end-color: $jurbly_background_color_end);

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;

    z-index: -1;
}

.cloud {
    background: #fff;

    width: 25%;

    max-width: 400px;
    max-height: 120px;

    position: absolute;

    @include border-radius(400px);

    .spacer {
        padding-top: 30%;
    }
}

.cloud:before, .cloud:after {
    background: #fff;
    content: '';
    position: absolute;

    @include border-radius(200px);
}

.cloud:before {
    width: 50%;
    padding-top: 40%;

    max-width: 200px;
    max-height: 160px;

    top: -25%;
    left: 5%;

    @include transform(rotate(30deg));
}

.cloud:after {
    width: 60%;
    padding-top: 60%;

    max-width: 240px;
    max-height: 240px;

    top: -92%;
    left: auto;
    right: 7.5%;
}


$cloud_count: 10;
@for $i from 1 through $cloud_count {
    $variance: random(70);
    $left: random(45);
    @if $i % 2 == 0 {
        $left: $left + 45;
        $variance: $variance + 30;
    }
    $top: (80.0 / $cloud_count) * $i;
    $percent: ($left * 0.8) + 20.0;
    $time: 30 - ($variance / 6.667);
    $delay: (1.0 - ($percent / 100.0)) * $time;

    .cloud-#{$i} {
        top: $top * 1%;
        left: $left * 1%;
        opacity: 0.3 + ($variance / 250.0);
        @include transform(scale(0.3 + ($variance / 160.0)));
        @include animation(moveclouds #{$time}s linear -#{$delay}s infinite);
    }
}


@-webkit-keyframes moveclouds {
    0% { left: 100% }
    100% { left: -25%; }
}
@-moz-keyframes moveclouds {
    0% { left: 100% }
    100% { left: -25%; }
}
@-o-keyframes moveclouds {
    0% { left: 100% }
    100% { left: -25%; }
}
@keyframes moveclouds {
    0% { left: 100% }
    100% { left: -25%; }
}


/****************************************
 * Chaos Clock
 ****************************************/

.chaosclock {
    $chaosclock_background_color: #000;
    $chaosclock_background_color_end: #333;
    $chaosclock_color: #fff;

    background-color: $chaosclock_background_color;
    @include gradient-vertical($start-color: $chaosclock_background_color, $end-color: $chaosclock_background_color_end);
    color: $chaosclock_color;

    padding: 150px 0 200px 0;

    .content-right {
        padding-left: $content_padding;
    }

    h1 {
        a {
            color: #fff;
        }

        font-size: 6.4em;
        font-variant: small-caps;
        font-weight: 100;
        @include text-shadow(1px 1px 0 rgba(0, 0, 0, 0.3));
    }

    .description {
        a {
            color: #a0a0a0;
        }
    }

    .iphone {
        float: right;
    }

    .badge-container {
        $badge_offset: $iphone_bezel_height + $badge_height;
        margin: -#{$badge_offset}px 0 #{$iphone_bezel_height}px 50%;

        padding-left: $content_padding;
        padding-right: 0;

        .itunes-link {
            float: left;
        }
    }
}


/****************************************
 * Parsnip
 ****************************************/

.parsnip {
    $parsnip_background_color: #204000;
    $parsnip_background_color_end: #a2d100;
    $parsnip_color: #fff;

    background-color: $parsnip_background_color;
    @include gradient-vertical($start-color: $parsnip_background_color, $end-color: $parsnip_background_color_end);
    color: $parsnip_color;

    padding: 150px 0 12px 0;

    .content-left {
        padding-right: $content_padding;
    }

    h1 {
        a {
            color: $parsnip_color;
        }

        font-family: 'Lato', $font_family;
        font-size: 8.75em;
        @include text-shadow(0.03em 0.03em 0 rgba(0, 0, 0, 0.3));
    }

    .description {
        ul {
            display: inline-block;
            text-align: left;
            list-style: disc;
        }
    }

    .badge-container {
        .github-link {
            margin-left: #{$badge_margin}px;
        }
    }

    .footer {
        padding: 54px 0 26px 0;

        text-align: center;

        .website-copyright {
            font-size: 1.2em;
        }
    }

    .background-copyright {
        color: $parsnip_color;
        text-decoration: none;
        display: block;
        margin-left: 12px;
        font-size: 12px
    }
}


/****************************************
 * Background images
 ****************************************/

.background-image {
    background-color: transparent;
    background-position: 50% 50%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: transparent;
    display: inline-block;
    line-height: 1em;
    vertical-align: middle;
}

.section-image {
    background-position: 50% 50%;
    background-size: 100% auto;
    @include background-size(cover);
    background-repeat: no-repeat;
    vertical-align: middle;
}

.spacer {
    display: block;
    height: 0;
}

@each $w, $h, $padding in (1, 1, 100%),
                          (1, 2, 200%),
                          (2, 1, 50%),
                          (3, 4, 133%),
                          (4, 1, 25%),
                          (4, 3, 75%),
                          (5, 6, 120%),
                          (6, 7, 116.67%) {
    .ratio-#{$w}x#{$h} .spacer, .ratio-#{$w}x#{$h} > .spacer {
        padding-top: #{$padding};
    }
}

.hero{background-image:url(#{$images_path}hero-bg.jpg)}
.iphone{background-image:url(#{$images_path}iphone.png)}
.jurbly .itunes-link .appstore-badge{background-image:url(#{$images_path}jurbly-appstore-badge.png)}
.jurbly .iphone-screen{background-image:url(#{$images_path}jurbly-screenshot01.png)}
.chaosclock .itunes-link .appstore-badge{background-image:url(#{$images_path}appstore-badge.png)}
.chaosclock .iphone-screen{background-image:url(#{$images_path}chaosclock-screenshot01.png)}
.parsnip{background-image:url(#{$images_path}parsnip-bg.jpg)}
.parsnip .itunes-link .appstore-badge{background-image:url(#{$images_path}appstore-badge.png)}
.parsnip .github-link .appstore-badge{background-image:url(#{$images_path}github-badge.png)}
.parsnip .iphone-screen{background-image:url(#{$images_path}parsnip-screenshot01.png)}
.bracingeffect-title{background-image:url(#{$images_path}bracingeffect-title.png)}
.envelope{background-image:url(#{$images_path}envelope.png)}
.chaosclock-logo{background-image:url(#{$images_path}chaosclock-logo.png)}
.parsnip-logo{background-image:url(#{$images_path}parsnip-logo.png)}

@media
only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-moz-min-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
    .hero{background-image:url(#{$images_path}hero-bg.jpg)}
    .iphone{background-image:url(#{$images_path}iphone_2x.png)}
    .jurbly .itunes-link .appstore-badge{background-image:url(#{$images_path}jurbly-appstore-badge_2x.png)}
    .jurbly .iphone-screen{background-image:url(#{$images_path}jurbly-screenshot01_2x.png)}
    .chaosclock .itunes-link .appstore-badge{background-image:url(#{$images_path}appstore-badge_2x.png)}
    .chaosclock .iphone-screen{background-image:url(#{$images_path}chaosclock-screenshot01_2x.png)}
    .parsnip{background-image:url(#{$images_path}parsnip-bg.jpg)}
    .parsnip .itunes-link .appstore-badge{background-image:url(#{$images_path}appstore-badge_2x.png)}
    .parsnip .github-link .appstore-badge{background-image:url(#{$images_path}github-badge_2x.png)}
    .parsnip .iphone-screen{background-image:url(#{$images_path}parsnip-screenshot01_2x.png)}
    .bracingeffect-title{background-image:url(#{$images_path}bracingeffect-title_2x.png)}
    .envelope{background-image:url(#{$images_path}envelope_2x.png)}
    .chaosclock-logo{background-image:url(#{$images_path}chaosclock-logo_2x.png)}
    .parsnip-logo{background-image:url(#{$images_path}parsnip-logo_2x.png)}
}


/****************************************
 * Responsive breakpoints
 ****************************************/


@media (max-width: 1024px) {

    .chaosclock {
        h1 {
            font-size: 5.2em;
        }
    }
}


@media (max-width: 880px) {

    .jurbly {
        h1 {
            font-size: 11em;
        }
    }

    .chaosclock {
        h1 {
            font-size: 4em;
        }
    }

    .parsnip {
        h1 {
            font-size: 7em;
        }
    }
}


@media (max-width: 625px) {
    .hero {
        .container {
            padding: 32% 0;

            h1 {
                margin: 0 auto 4.8% auto;
            }
        }
    }
}


@media (max-width: 360px) {
    .hero {
        .container {
            .description {
                font-size: 2.5em;
            }
        }
    }
}


@media (max-width: #{$iphone_width * 2}px) {

    .section {
        .content-left, .content-right {
            float: none;
            text-align: center;
            width: 100%;
            padding-left: 0;
            padding-right: 0;

            h1 {
                margin-top: 0;
            }

            .iphone {
                float: none;
            }
        }

        .badge-container {
            margin: 54px auto 0 auto;
            padding-left: 0;
            padding-right: 0;
            width: #{$badge_width}px;
        }
    }

    .chaosclock {
        padding: 110px 0 200px 0;
    }

    .parsnip {
        padding: 110px 0 12px 0;

        .badge-container {
            width: #{($badge_width * 2) + $badge_margin}px;
        }
    }

    .iphone {
        margin: 3.2em auto 0 auto;
    }
}


@media (max-width: #{$iphone_width}px) {

    .iphone {
        width: 100%;
        height: auto;

        > .spacer {
            padding-top: 204.8913%;
        }

        .iphone-screen {
            width: (320.0 / $iphone_width) * 100%;
            height: (568.0 / $iphone_height) * 100%;

            top: ($iphone_bezel_height / $iphone_height) * 100%;
            left: ($iphone_bezel_width / $iphone_width) * 100%;

            .demovideo {
                width: 100%;
                height: 100%;
            }
        }
    }
}

