
@import "mixins";

$images_path: "images/";
$fonts_path: "fonts/";

$bracing_blue: #0080ff; // rgb(0,128,255)
$dark_bracing_blue: #0066cc; // rgb(0,102,204)
$jurbly_pink: #FC69B4; // rgb(252,105,180)
$parsnip_green: #40C000; // rgb(64,192,0)
$dark_parsnip_green: #309000; // rgb(48,144,0)
$chaos_violet: #a00aa0; // rgb(160,10,160)
$github_purple: #400440; // rgb(64,4,64)

$background_color: #e0e0e0;
$normal_text: #000;
$subtle_text: #606060;
$link_text: #808080;

$font_family:
    system, -apple-system, BlinkMacSystemFont, "San Francisco",
    "Helvetica Neue", Helvetica, Arial, sans-serif !default;


/****************************************
 * Web Fonts
 ****************************************/

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(#{$fonts_path}Lato-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 400;
  src: local('Luckiest Guy'), local('LuckiestGuy'), url(#{$fonts_path}LuckiestGuy.ttf) format('truetype');
}


/****************************************
 * Defaults
 ****************************************/

.container {
    margin: 0 auto 0 auto;
    padding: 10em 2em 10em 2em;

    position: relative;

    max-width: 100%;
    width: 640px;

    .background-image {
        max-width: 100%;
    }

    .logo {
        display: inline-block;
    }

    .title {
        max-width: 100%;

        a {
            color: $normal_text;
            display: block;
            text-decoration: none;
            white-space: nowrap;

            .text {
                line-height: 60px;
                float: left;
            }

            .arrow {
                line-height: 50px;
                float: right;
                font-size: 7em;
                font-weight: 300;
                @include text-shadow(0.04em 0.04em 0 rgba(0, 0, 0, 0.3));
            }
        }
    }

    .description {
        padding-top: 2em;

        .text {
            font-size: 2.2em;
            line-height: 1.5em;
        }
    }
}


/****************************************
 * Hero
 ****************************************/

.hero {
    background-color: $bracing_blue;
    @include gradient-vertical($start-color: $bracing_blue, $end-color: darken(#7ec0ee, 10%));

    color: #fff;
    @include text-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));

    .bracingeffect {
        text-align: center;

        .title {
            .text {
                .bracingeffect-title {
                    height: 7.6em;
                    width: 40.3em;

                    display: inline-block;
                }
            }
        }
    }
}


/****************************************
 * Apps
 ****************************************/

.apps {
    background-color: $background_color;
    position: relative;
    overflow-x: hidden;
    @include box-shadow(0 0 3em rgba(0, 0, 0, 0.5));
}

.section {
    position: relative;
    padding-bottom: 10em;
}

.chaosclock, .parsnip {
    .logo {
        position: absolute;
        top: 0;
        left: 0;
    }

    .title, .description {
        margin-left: 12em;
    }
}


/****************************************
 * Jurbly
 ****************************************/

.jurbly {
    .title {
        .text {
            font-family: 'Luckiest Guy', $font_family;
            font-size: 9.6em;
            font-variant: small-caps;
            @include text-shadow(0.05em 0.05em 0 rgba(0, 0, 0, 0.3));
        }
    }
}


/****************************************
 * Chaos Clock
 ****************************************/

.chaosclock {
    .chaosclock-logo {
        height: 10em;
        width: 10em;
        margin-top: 0.75em
    }

    .title {
        .text {
            font-size: 6em;
            font-variant: small-caps;
            font-weight: 100;
            @include text-shadow(1px 1px 0 rgba(0, 0, 0, 0.3));
        }
    }
}


/****************************************
 * Parsnip
 ****************************************/

.parsnip {
    .parsnip-logo {
        height: 15.9em;
        width: 10em;
    }

    .title {
        .text {
            font-family: 'Lato', $font_family;
            font-size: 7em;
            @include text-shadow(0.03em 0.03em 0 rgba(0, 0, 0, 0.3));
        }
    }
}


/****************************************
 * Footer
 ****************************************/

.footer {
    text-align: center;

    .email {
        color: #303030;
        display: inline-block;
        font-size: 2.2em;
        text-decoration: none;
        vertical-align: baseline;

        .envelope {
            height: 1em;
            width: 1.5em;
        }
    }

    .website-copyright {
        font-size: 1.2em;
        margin-top: 2em;
    }
}

/****************************************
 * Global styles
 ****************************************/

html,
body {
    background-color: $background_color;
    color: $normal_text;

    font-family: $font_family;
    font-size: 10px;
    font-weight: 300;

    margin: 0;
    padding: 0;

    height:100%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

em {
    font-style: italic;
}

a {
    color: $link_text;
    text-decoration: underline;
}

a:hover {
    opacity: 0.5;
}

.nowrap {
    white-space: nowrap
}

.subtle {
    color: $subtle_text;
}

.clear {
    clear: both;
}


/****************************************
 * Background images
 ****************************************/

.background-image {
    background-color: transparent;
    background-position: 50% 50%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: transparent;
    display: inline-block;
    line-height: 1em;
    vertical-align: middle;
}

.section-image {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
}

.spacer {
    display: block;
    height: 0;
}

@each $w, $h, $padding in (1, 1, 100%),
                          (1, 2, 200%),
                          (2, 1, 50%),
                          (3, 4, 133%),
                          (4, 1, 25%),
                          (4, 3, 75%),
                          (5, 6, 120%),
                          (6, 7, 116.67%) {
    .ratio-#{$w}x#{$h} .spacer, .ratio-#{$w}x#{$h} > .spacer {
        padding-top: #{$padding};
    }
}

.bracingeffect-logo{background-image:url(#{$images_path}bracingeffect-logo.png)}
.bracingeffect-title{background-image:url(#{$images_path}bracingeffect-title.png)}
.envelope{background-image:url(#{$images_path}envelope.png)}
.chaosclock-logo{background-image:url(#{$images_path}chaosclock-logo.png)}
.parsnip-logo{background-image:url(#{$images_path}parsnip-logo.png)}

@media
only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-moz-min-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
    .bracingeffect-logo{background-image:url(#{$images_path}bracingeffect-logo_2x.png)}
    .bracingeffect-title{background-image:url(#{$images_path}bracingeffect-title_2x.png)}
    .envelope{background-image:url(#{$images_path}envelope_2x.png)}
    .chaosclock-logo{background-image:url(#{$images_path}chaosclock-logo_2x.png)}
    .parsnip-logo{background-image:url(#{$images_path}parsnip-logo_2x.png)}
}


/****************************************
 * Responsive breakpoints
 ****************************************/


@media (max-width: 640px) {

    .container {
        padding-left: 2.6042%;
        padding-right: 2.6042%;
    }
}

@media (max-width: 600px) {

    .bracingeffect {
        .bracingeffect-logo {
            font-size: 8px;
        }
    }
}

@media (max-width: 500px) {

    .chaosclock {
        .logo {
            margin: 3em auto 0 auto;
        }

        .title {
            .text {
                font-size: 5.5em;
            }
        }
    }

    .parsnip {
        .logo {
            margin: 1em auto 0 auto;
        }
    }

    .jurbly, .chaosclock, .parsnip {
        .logo {
            display: block;
            position: static;
        }

        .title, .description {
            margin-left: 0em;
        }
    }
}

@media (max-width: 360px) {

    .jurbly {
        .title {
            .text {
                font-size: 9em;
            }
        }
    }

    .chaosclock {
        .title {
            .text {
                font-size: 4.5em;
            }
        }
    }

    .parsnip {
        .title {
            .text {
                font-size: 6em;
            }
        }
    }
}

